@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>Looking for a good laugh? You've come to the right place! At JokesWebApp, we serve you with the best jokes from around the world. Whether you're having a bad day or just need a little humor, our extensive collection of jokes is sure to bring a smile to your face.</p>
    <p>Browse through various categories, read the latest jokes, and even share your own funny moments with the community. Laughter is the best medicine, and we're here to make sure you get your daily dose!</p>    
</div>
